.body-error {
    background-color: rgb(33, 33, 33);
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    div {
        margin: auto;
        a {
            img {
                width: 18rem;
				height: 10rem;
            }
        }
        .titulo-error {
            margin-top: 30px;
            -webkit-text-stroke: 2px #eb0005;
            color: yellow;
        }
        .subtitulo-error {
            margin: 5px;
            -webkit-text-stroke: 2px black;
            color: #dfdfdf;
        }
    }
}